<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="logback-spring.xml"/>

    <!-- Root logger for dev -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

<!--    &lt;!&ndash; Enable DEBUG only for your app &ndash;&gt;-->
<!--    <logger name="com.expensemanager" level="DEBUG"/>-->

<!--    &lt;!&ndash; Keep Hibernate quieter &ndash;&gt;-->
<!--    <logger name="org.hibernate" level="INFO"/>-->
<!--    <logger name="org.springframework" level="INFO"/>-->

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="DEBUG"/> <!-- see request mappings -->
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/> <!-- show SQL queries -->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/> <!-- show SQL params -->
    <logger name="com.zaxxer.hikari" level="INFO"/>

    <!-- Your application logs -->
    <logger name="com.expensemanager" level="DEBUG"/>


</configuration>
