<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="logback-spring.xml"/>

    <!-- Root logger for dev -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="DEBUG"/> <!-- see request mappings -->
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/> <!-- show SQL queries -->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/> <!-- show SQL params -->
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="org.springframework.security" level="DEBUG"/>
    <!-- Your application logs -->
    <logger name="com.expensemanager" level="DEBUG"/>


</configuration>
